---
layout: default
---

<div class="home">

  {{ content }}

  <div class="floating-section">
    <h2>About Me</h2>
    <img 
      src="/assets/img/moi.png"
      alt="Photo of me!"
      style="width: 100%; border-radius: 8px; margin-bottom: 20px; display: block; margin-left: auto; margin-right: auto; max-width: 250px;"
    >
    <p>My name's Renée, and I live in San Francisco!</p>
    <p>I'm an engineer professionally &mdash; 
      connect with me on <a href="{{ site.linkedin_full_url }}">LinkedIn</a> or <a href="{{ site.github_full_url }}">GitHub</a>!
    </p>
    <p> This website is a space for me to <a href="https://en.wikipedia.org/wiki/Personal_knowledge_base">document the things I learn</a>
      and create.
    </p>
  </div>

  <div class="floating-section" style="width: 200px;">
    <h2>Friends' Blogs</h2>
    <ul>
      <li><a href="https://www.nickymasso.com/">Nicky Masso</a></li>
      <li><a href="https://phoenixfalling.net/">Lucy Farrell</a></li>
    </ul>
  </div>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>

    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>